@charset "UTF-8";
/* =============== Обнуление стилей ============== */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* =============== Конец бнуления стилей ============== */
@font-face {
  font-family: "Pobeda";
  src: url("/source/fonts/Pobeda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Pobeda";
  src: url("/source/fonts/Pobeda-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
body {
  font-family: "Pobeda";
  font-weight: 700;
  background-color: #f3f3f3;
  height: 100vh;
}
body h1,
body h2,
body h3,
body h4,
body .cost__service {
  font-weight: 700;
  color: #7e0001;
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header,
.main,
.footer {
  padding: 20px 0 30px 0;
}

.header__info,
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}

.address,
.footer__address {
  font-weight: 700;
}
.address p,
.footer__address p {
  max-width: 220px;
  line-height: 18px;
  font-size: 18px;
}

.contacts *,
.footer__contacts * {
  line-height: 20px;
  font-size: 18px;
}

.main__info {
  display: flex;
  flex-direction: column;
}
.main__info p,
.main__info li {
  font-size: 19px;
  max-width: 500px;
  line-height: 1.37;
  margin: 20px 0 20px 0;
}
.main__info p {
  max-width: 800px;
}
.main__info h2 {
  font-size: 30px;
}
.main__info h3 {
  font-size: 24px;
}

.info__outsourcing h1 {
  font-size: 35px;
}
.info__outsourcing p,
.info__outsourcing li {
  word-break: break-word;
  text-wrap: balance;
}

.swiper {
  width: 700px;
  height: 230px;
}
.swiper .swiper-slide,
.swiper .swiper-slide-next {
  padding: 10px;
}

.costOfServices {
  margin-bottom: 20px;
}

.price__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.price__services {
  flex: 0 1 235px;
  border: 1px solid #000;
}
.price__services h3 {
  text-align: center;
  margin: 7px 0 0 0;
}
.price__services p {
  text-align: center;
  border-top: 1px solid #000;
  margin: 7px 0 0 0;
  word-break: break-word;
  text-wrap: balance;
}
.price__services .cost__service {
  font-size: 24px;
}

.courier h2 {
  max-width: 800px;
}

.footer__companyCard p {
  margin-bottom: 8px;
  font-size: 16px;
}
.footer__companyCard p:last-child {
  margin-bottom: 0;
}