// подключение шрифтов
@font-face {
  font-family: "Pobeda";
  src: url("/source/fonts/Pobeda-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Pobeda";
  src: url("/source/fonts/Pobeda-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
