// обнуляющие стили
@import "_reset";

@import "_fonts";

body {
  font-family: "Pobeda";
  font-weight: 700;
  background-color: #f3f3f3;
  height: 100vh;
  h1,
  h2,
  h3,
  h4,
  .cost__service {
    font-weight: 700;
    color: #7e0001;
  }
}

.wrapper {
  overflow: hidden;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header,
.main,
.footer {
  padding: 20px 0 30px 0;
}

.header__info,
.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 150px;
  img {
    width: 100%;
  }
}
.address,
.footer__address {
  font-weight: 700;
  p {
    max-width: 220px;
    line-height: 18px;
    font-size: 18px;
  }
}
.contacts,
.footer__contacts {
  * {
    line-height: 20px;
    font-size: 18px;
  }
}
.main {
}
.main__info {
  display: flex;
  flex-direction: column;
  // align-items: center;
  p,
  li {
    font-size: 19px;
    max-width: 500px;
    line-height: 1.37;
    margin: 20px 0 20px 0;
  }
  p {
    max-width: 800px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}
.info__outsourcing {
  h1 {
    font-size: 35px;
  }
  p,
  li {
    word-break: break-word;
    text-wrap: balance;
  }
}
.info__whyOutsourcing {
}
.swiper {
  width: 700px;
  height: 230px;
  .swiper-slide,
  .swiper-slide-next {
    padding: 10px;
  }
}
.costOfServices {
  margin-bottom: 20px;
}
.price__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.price__services {
  flex: 0 1 235px;
  border: 1px solid #000;
  h3 {
    text-align: center;
    margin: 7px 0 0 0;
  }
  p {
    // max-width: 207px;
    text-align: center;
    border-top: 1px solid #000;
    margin: 7px 0 0 0;
    word-break: break-word;
    text-wrap: balance;
  }
  .cost__service {
    font-size: 24px;
  }
}

.courier {
  h2 {
    max-width: 800px;
  }
}
.footer {
}
.footer__info {
}
.footer__companyCard {
  p {
    margin-bottom: 8px;
    font-size: 16px;
  }
  p:last-child {
    margin-bottom: 0;
  }
}
.footer__contacts {
}
.footer__address {
}
